.oe_product .ribbon-wrapper {
    display: unset;
}

.js_publish_btn,.dropdown-toggle-split{

    right:15px;
}

.ks-product-list{
    .oe_product.oe_grid{
        overflow: inherit;
    }
}

.oe_product_cart {
    position: relative;
    div.ribbon-wrapper {
        top: 0px;
        right: -20px;
        left: inherit;
     }
 }

.o_website_rating_static{
    font-family: sans-serif;
}